/* @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

*{ 
    margin: 0;
    padding: 0;
}  

body {
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 400px;
    color: #00ADB5;
    position: absolute;
    top: 18%;
    left: 39%;
}

.container h1 {
    font-family: 'Merriweather', serif;
    width: 25%;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 7px;
    padding: 13px 0;
}

.section {
    width: 100%;
    margin: 22px 0;
    border-bottom: 2px solid #00ADB5;
}

.section input {
    font-family: 'Merriweather', serif;
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
}

::placeholder { 
    font-family: 'Merriweather', serif;
    color: #393E46;
    opacity: 1;
}

.section i {
    width: 25px;
    text-align: center;
}

.btn {
    font-family: 'Merriweather', serif;
    color: #393E46;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid #393E46;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.5;
    color: #00ADB5;
    background: white;
    font-weight: bold;
}
  */


  

  .divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;

}
.h-custom {
  height: calc(100% - 73px);
  color: white;
}


@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}